body{
	background-color: #EEEEEE;
	color: #134B70;
	font-family: "IBM Plex Serif", serif;
  	font-weight: 500;
  	font-style: normal;
}

h1, h2{
	font-family: "Prompt", sans-serif;
  	font-weight: 600;
  	font-style: italic;
	color: #201E43;
}

h1{
	font-size: 32px;
	color: #201E43;
}

h2{
	font-size: 24px;
	font-weight: lighter;
	color: #201E43;
}

a{
	text-decoration: none;
	color: #508C9B;
}

a:hover{
	color: #EF5A6F;
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:760px) {
	.container {
		width: 600px;
	}
}

@media (max-width:500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #201E43;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: #EF5A6F;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
#introduction p {
	margin-block: 40px;
}